<h1>home</h1>

<div class="list-group text-center">
    <div class="list-group-item list-group-item-home">
        <div>
            <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Search</h3>
        </div>
    </div>


    <div class="list-group-item list-group-item-home">
        <div>
            <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Near By</h3>
        </div>
    </div>
</div>