<div class="list-group text-center">
    <div class="list-group-item list-group-item-home">
        <a ng-href="/#!/search">
            <div>
                    <i class="fa fa-search fa-4 feature-icon text-primary"></i>
            </div>
            <div>
                <h3 class="home-heading">Search</h3>
            </div>
        </a>    
    </div>


    <div class="list-group-item list-group-item-home">
        <a ng-href="/#!/near">
            <div>
                <i class="fa fa-location-arrow fa-4 feature-icon  text-primary"></i>
            </div>
            <div>
                <h3 class="home-heading">Near By</h3>
            </div>
        </a>
    </div>
</div>