body {
    background: #f2f2f2;
}

.button {
    background: #FFFFFF;
    margin-left: 20px;
    margin-top: 10px;
    padding: 40px 40px;
    width: fit-content;
    border: 1px solid lightgrey;
    border-radius: 8px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 5px #888888;
}

#search-container {
    display: grid;
    grid-template-rows: 150px 150px 1fr;
    grid-gap: 2em;
    grid-template-areas: "back" "input" "clear" "results";
}

.input-wrapper {
    /* needed to create a div for full width input field */
    grid-area: input;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-areas: "s s x";
    padding: 0px 20px;
}

.search-box {
    font-size: 50px;
    padding: 20px 0 20px 20px;
    background: #FFFFFF;
    width: 80vw;
    box-shadow: 2px 3px 5px #888888;
    border: 1px solid lightgrey;
    align-items: stretch;
}

.close-icon {
    box-shadow: 2px 3px 5px #888888;
    border: 1px solid lightgrey;
    border-left-color: transparent;
    font-size: 30px;
}

.well-list-item {
    border: 1px solid lightgrey;
    border-radius: 8px;
    line-height: 10px;
    margin: 30px;
    padding: 10px;
    background: white;
    box-shadow: 2px 3px 5px #888888;
    white-space: nowrap;
    font-size: 35px;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}

#message {
    background: #e57373;
    color: #FFFFFF;
    font-size: 50px;
    padding: 40px;
    margin: 20px 100px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 3px 5px #888888;
}