<div id="search-container">
    <a class="button" href="/#!/">Home</a>
    
    <div class="input-wrapper">  
        <input class="search-box" ng-model="$ctrl.searchValue" ng-model-options="{ debounce: 800 }" type="text" ng-change="$ctrl.getWellList()" name="" placeholder="Operator/Lease/Well name">
        <button class="close-icon" ng-click="$ctrl.clearSearch()">X</button>
    </div>

    <div id="message" ng-if="$ctrl.message">
        {{$ctrl.message}}
    </div>

    <div ng-if="$ctrl.wells">
        <rd-list-item ng-repeat="well in $ctrl.wells" well="well"></rd-list-item>
    </div>
</div>
