<style>
    body {
        background: #f2f2f2;
    }

    .button {
        background: #FFFFFF;
        margin-left: 20px;
        margin-top: 10px;
        width: 100px;
        border: 1px solid lightgrey;
        border-radius: 8px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 3px 5px #888888;
    }

    #search-container {
        display: grid;
        grid-template-rows: 80px 100px 1fr;
        grid-gap: 1em;
        grid-template-areas: "back"
                             "input"
                             "results"; 
    }

    .input-wrapper {  /* needed to create a div for full width input field */
        grid-area: input;
        display: grid;
        grid-template-columns: 6fr 1fr;
        grid-template-areas: s s s s s x
        margin-right: 20px;
        padding: 20px;
    }

    .search-box {
        font-size: 20px;
        padding: 20px 0 20px 20px;
        background: #FFFFFF;
        width: 100%;
        box-shadow: 2px 3px 5px #888888;
        border: 1px solid lightgrey;
    }

    .close-icon {
        box-shadow: 2px 3px 5px #888888;
        border: 1px solid lightgrey;
        border-left-color: transparent;
    }

    .well-list-item {
        border: 1px solid lightgrey;
        border-radius: 8px;
        line-height: 10px;
        margin: 30px;
        padding: 10px;
        background: white;
        box-shadow: 2px 3px 5px #888888;
    }

    #message {
        background: #e57373;
        color: #FFFFFF;
        font-size: 20px;
        padding: 40px;
        margin: 20px 100px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 2px 3px 5px #888888;
    }
</style>

<div id="search-container">
    <a class="button" href="/#!/">Home</a>
    
    <div class="input-wrapper">  
        <input class="search-box" ng-model="$ctrl.searchValue" ng-model-options="{ debounce: 800 }" type="text" ng-change="$ctrl.getWellList()" name="" placeholder="Operator/Lease/Well name">
        <button class="close-icon" ng-click="$ctrl.clearSearch()">X</button>
    </div>

    <div id="message" ng-if="$ctrl.message">
        {{$ctrl.message}}
    </div>

    <div ng-if="$ctrl.wells">
        <rd-list-item ng-repeat="well in $ctrl.wells" well="well"></rd-list-item>
    </div>
</div>
