<style>
    body, html {
        overflow: visible;
    }  
</style>

<a href="/#!/">Home</a>

<h1>Search Component</h1>


<input ng-model="$ctrl.searchValue" type="text" name="" placeholder="Operator/Lease/Well name">

<p>results</p>

<!-- <div ng-if="$ctrl.searchValue">
    <p ng-repeat="well in $ctrl.wells | fuzzy:$ctrl.searchValue | limitTo:-1000"></p>
</div> -->
<div ng-if="$ctrl.searchValue">
    <rd-list-item ng-repeat="well in $ctrl.wells | filter:$ctrl.searchValue | limitTo:-500"" well="well"></rd-list-item>
</div>