<style>
    body {
        background: #f2f2f2;
    }

    .button {
        background: #FFFFFF;
        margin-left: 20px;
        margin-top: 10px;
        width: 100px;
        border: 1px solid lightgrey;
        border-radius: 8px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 3px 5px #888888;
    }

    #search-container {
        display: grid;
        grid-template-rows: 80px 100px 1fr;
        grid-gap: 1em;
        grid-template-areas: "back"
                             "input"
                             "results"; 
        /*padding: 8px;*/
        /*height: 100vh;*/
        /*background: #E9E9E9;*/

    }

    #search-input {
        grid-area: input;
        font-size: 20px;
        padding: 20px 0 20px 20px;
        background: #FFFFFF;
        width: 100%;
        box-shadow: 2px 3px 5px #888888;
        border: 1px solid lightgrey;
    }

    .input-wrapper {  /* needed to create a div for full width input field */
    margin-right: 20px;
    padding: 20px;
    }

    .well-list-item {
    border: 1px solid lightgrey;
    border-radius: 8px;
    line-height: 10px;
    margin: 30px;
    padding: 10px;
    background: white;
    box-shadow: 2px 3px 5px #888888;
    }
</style>

<div id="search-container">
    <a class="button" href="/#!/">Home</a>
    
    <div  class="input-wrapper">  
        <input id="search-input" ng-model="$ctrl.searchValue" ng-model-options="{ debounce: 800 }" type="text" ng-change="$ctrl.getWellList()" name="" placeholder="Operator/Lease/Well name">
    </div>


    <!-- <div ng-if="$ctrl.searchValue">
        <p ng-repeat="well in $ctrl.wells | fuzzy:$ctrl.searchValue | limitTo:-1000"></p>
    </div> -->

    <div ng-if="$ctrl.wells">
        <rd-list-item ng-repeat="well in $ctrl.wells" well="well"></rd-list-item>
    </div>
</div>
